
.body {
    font-size: 20px;
    font-family: 'Roboto', sans-serif;;
    }
.header {
    background: rgba(117, 184, 247, 0.733);
    border: 2px solid grey;
    max-width: 1024px;
    min-width: 512px;
    position: relative;
    display: flex; 
    margin: auto;
    border-bottom: none;
    background: linear-gradient(to bottom, #3888f0ef, #c7e4ff);
    }
.header_name{
    justify-content: center;
    flex-direction: column;
    margin: auto;
    font-weight: bold;
    letter-spacing: 13px;
    
}
main {
    
}
.img_my_foto {
    float: left;
    margin-left: 80px;
}
.indent{
    padding: 0px 20px;
}
.contacts {
    float: right;
    margin-right: 80px;
       
}
.skills {
    padding-left: 20px;
}
div.contacts ul li a{
    text-decoration: none;
    color: rgb(37, 58, 151);
}
div.contacts ul li a:hover{
    color: rgb(35, 104, 25);
}
.ul_social {
    font-size: 20px;
}
.name {
    font-size: 32px;
    text-align: center;
    margin-top: 10px;
}
.up_case {
    text-align: center;
    text-transform: uppercase;
    margin: 10px auto;
}
.education {
    margin-bottom: 10px;
}
.section {
    background: rgb(230, 242, 253);
    border: 2px solid grey;
    max-width: 1024px;
    min-width: 512px;
    position: relative;
    display: -webkit-flex; 
    display: flex; 
    margin: auto;
    flex-direction: column;
    
}
.footer {
    border: 2px solid grey;
    max-width: 1024px;
    min-width: 512px;
    position: relative;
    display: flex; 
    margin: auto;
    padding: 5px 0px;
    border-top: none;
    background: rgb(211, 225, 238);
    
}